#canvas {
  border: solid 1px #aaa;
}

.canvasContainer {
  position: relative;
}

#sunTemperature {
  border: 1px solid #666;
  margin-left: 10px;
}

#earthTemperature {
  border: 1px solid #666;
  margin-left: 10px;
}
